.css-doodle2 {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(40, #8fb5bf), color-stop(100, #24707d));
    background: -moz-linear-gradient(top left, #8fb5bf 40%, #24707d 100%);
    background: -ms-linear-gradient(top left, #8fb5bf 40%, #24707d 100%);
    background: -o-linear-gradient(top left, #8fb5bf 40%, #24707d 100%);
    background: linear-gradient(to bottom right, #8fb5bf 40%, #24707d 100%);
    width: 350px;
    height: 350px;
    flex-direction: column;
    justify-content: flex-start;
    display: inline-flex;
    flex-wrap: wrap;
    border-color: #000;
    border-style: solid;
    border-radius: 16px;
    border-width: 3px;
    align-content: stretch;
    align-items: center;
  }
  
  .css-doodle2 > div {
    margin: 5px;
  }