@keyframes tada {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 35%;
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: -5%;
}
