.App {
  padding: 150px 0 0 35%;
}

.item {
  padding: 10px;
  border: solid 2px #eee;
  margin: 5px;
  width: 90px;
  height: 90px;
  -webkit-box-shadow: -1px 0px 16px 4px rgba(0, 0, 0, 0.72);
  box-shadow: -1px 0px 16px 4px rgba(0, 0, 0, 0.72);
}

.item-img {
  width: 90px;
  height: 90px;
}

.pokemonList {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
