.App {
  padding: 65px 0 0 30%;
}

.item {
  background-color: white;
  padding: 10px;
  border: solid 2px #eee;
  margin: 5px;
  width: 90px;
  height: 90px;
  -webkit-box-shadow: -1px 0px 16px 4px rgba(0, 0, 0, 0.72);
  box-shadow: -1px 0px 16px 4px rgba(0, 0, 0, 0.72);
}

.item-img {
  width: 90px;
  height: 90px;
}

.pokemonList {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.css-doodle {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(40, #8fb5bf), color-stop(100, #24707d));
  background: -moz-linear-gradient(top left, #8fb5bf 40%, #24707d 100%);
  background: -ms-linear-gradient(top left, #8fb5bf 40%, #24707d 100%);
  background: -o-linear-gradient(top left, #8fb5bf 40%, #24707d 100%);
  background: linear-gradient(to bottom right, #8fb5bf 40%, #24707d 100%);
  width: 200px;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  border-color: #000;
  border-style: solid;
  border-radius: 16px;
  border-width: 3px;
}

.css-doodle > div {
  margin: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.box > div {
  margin: 35px;
}

.score-table {
  font-family: helvetica, sans-serif;
  font-size: 24px;
  color: #053241;
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  letter-spacing: 0px;
  line-height: 20px;
}

.res-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -450px;
}
